{% extends 'myres/base.html' %}
{% block title %}
<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
<div class = reg-form>

    <div class = string-input>
    <p><label class="form-label" for="{{ form.photo.id_for_label }}">{{form.photo.label}}:</label>{{ form.photo }}</p>
        </div>
    <div class="form-error">{{ form.photo.errors }}</div>

    <div class="form-error">{{ form.non_field_errors }}</div>
    <button class = form-button type="submit">{{ button_name }}</button>
    {% block added %}
    {% endblock %}
</div>

</form>
{% endblock %}