{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link type="text/css" href = "{% static 'myres/css/styles.css' %}" rel="stylesheet"/>
    <link type="image/x-icon" href = "{% static 'myres/images/logo.png' %}" rel="shortcut icon"/>
</head>
<body>
<div class = "header">
    <div class = left><a href="{% url 'home' %}"><img src='{% static "myres/images/logo.png" %} ' width="30px"></div>

    <div class = "log">
        {% if request.user.is_authenticated %}

         <div class = "right"><a class= whiteref href = "{% url 'home' %}">{{ user.first_name }} {{ user.last_name }}</a> |
             <a class= whiteref href = "/edit_pro/{{ user.username }}">Редактировать профиль</a> |
        <a href = "{% url 'logout' %}" class= whiteref>Выйти</a></div>
        {% else %}
    <div class = "right"><a class= whiteref href = "{% url 'registration' %}">Регистрация</a> |
        <a href = "{% url 'autentification' %}" class= whiteref>Войти</a></div>
        {% endif %}
    </div>
</div>

<div class = main>
<div class="sidebar">
    {% if request.user.is_authenticated %}
    <div class = my><a href = "/edit_inf/{{ user.username }}" class= whiteref>О себе</a></div>
    <div class = my><a href = '#' class= whiteref>Мои сертификаты</a></div>
    <div class = my><a href = '#' class= whiteref>Добавить сертификат</a></div>
    {% endif %}
</div>
    <div class = "content">
    {% block title %}
        {% endblock %}
    </div>


</div>

<div class = about>
<a href = '#' class = "left whiteref">О сайте</a><a href = 'https://www.youtube.com/' target="_blank" class = right><img src='{% static "myres/images/icon_youtube.png" %} ' width="30px"></a>
</div>


</body>
</html>