{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link type="text/css" href="{% static 'myres/css/styles.css' %}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://unpkg.com/flexboxgrid2@7.2.1/flexboxgrid2.css">
    <link type="image/x-icon" href="{% static 'myres/images/logo.png' %}" rel="shortcut icon"/>
</head>
<body>
<div id="anchor" style="height:0px;"></div>
<div class = 'main-head'>
<div class="header">
    <div class=left><a href="{% url 'home' %}"><img src='{% static "myres/images/logo.png" %} ' width="30px"></a></div>

    <div class="log">
        {% if request.user.is_authenticated %}

        <div class="right"><a class=whiteref href="/profile/{{ user.username }}">{{ user.first_name }} {{ user.last_name }}</a> |
            <a class=whiteref href="/edit_pro/{{ user.username }}">Редактировать профиль</a> |
            <a href="{% url 'logout' %}" class=whiteref>Выйти</a></div>
        {% else %}
        <div class="right"><a class=whiteref href="{% url 'registration' %}">Регистрация</a> |
            <a href="{% url 'autentification' %}" class=whiteref>Войти</a></div>
        {% endif %}
    </div>
</div>
</div>
<div class=main>
    <div class="sidebar">
        <div class=sidebar-refs>
            {% if request.user.is_authenticated %}
            <div class=my><a href="/edit_inf/{{ user.username }}" class=whiteref>О себе</a></div>
            <div class=my><a href="/certificates/{{ user.pk }}" class=whiteref>Мои сертификаты</a></div>
            <div class=my><a href="{% url 'add_certificate' %}" class=whiteref>Добавить сертификат</a></div>
            {% endif %}
        </div>

        <a href="#anchor" style="height: calc(100% - 200px); background: blue;">
            <div style="height: calc(100% - 200px);"></div>
        </a>

    </div>
    <div class="content">
        {% block title %}
        {% endblock %}
    </div>

</div>

<div class = main-about>
<div class=about>
    <a href="{% url 'about' %}" class="left whiteref">О сайте</a><a href='https://www.youtube.com/' target="_blank"
                                                                    class=right><img
        src='{% static "myres/images/icon_youtube.png" %} ' width="30px"></a>
</div>
</div>

</body>
</html>